[submodule "dm-core"]
	path = dm-core
	url = http://github.com/datamapper/dm-core.git
[submodule "dm-aggregates"]
	path = dm-aggregates
	url = http://github.com/datamapper/dm-aggregates.git
[submodule "dm-constraints"]
	path = dm-constraints
	url = http://github.com/datamapper/dm-constraints.git
[submodule "dm-migrations"]
	path = dm-migrations
	url = http://github.com/datamapper/dm-migrations.git
[submodule "dm-transactions"]
	path = dm-transactions
	url = http://github.com/datamapper/dm-transactions.git
[submodule "dm-serializer"]
	path = dm-serializer
	url = http://github.com/datamapper/dm-serializer.git
[submodule "dm-timestamps"]
	path = dm-timestamps
	url = http://github.com/datamapper/dm-timestamps.git
[submodule "dm-validations"]
	path = dm-validations
	url = http://github.com/datamapper/dm-validations.git
[submodule "dm-types"]
	path = dm-types
	url = http://github.com/datamapper/dm-types.git
